.cardText {
    font-size:90px; 
    font-family: Georgia;
    color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-left: 40px;
    height: 450px;
}

.body {
    font-size: 50px;
    padding-left: 200px;
    width: 700px;
}

div .hey {
    font-size: 40px;
}